<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

  <!-- Site Title -->
    <title>Techens Global - Service</title>

  <!-- Place favicon.ico in the root directory -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png">

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome-pro.min.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/technes-icons.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">
  <link rel="stylesheet" href="assets/css/swiper.min.css">
  <link rel="stylesheet" href="assets/css/venobox.min.css">
  <link rel="stylesheet" href="assets/css/odometer-theme-default.css">
  <link rel="stylesheet" href="assets/css/meanmenu.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <div class="body-overlay"></div>

  <!-- Preloader Start -->
  <div class="tj-preloader is-loading">
    <div class="tj-preloader-inner">
      <div class="tj-preloader-ball-wrap">
        <div class="tj-preloader-ball-inner-wrap">
          <div class="tj-preloader-ball-inner">
            <div class="tj-preloader-ball"></div>
          </div>
          <div class="tj-preloader-ball-shadow"></div>
        </div>
        <div id="tj-weave-anim" class="tj-preloader-text">Loading...</div>
      </div>
    </div>
    <div class="tj-preloader-overlay"></div>
  </div>
  <!-- Preloader end -->

  <!-- back to top start -->
  <div id="tj-back-to-top"><span id="tj-back-to-top-percentage"></span></div>
  <!-- back to top end -->

  <!-- start: Search Popup -->
  <div class="search-popup-overlay"></div>
  <!-- end: Search Popup -->

  

  <!-- start: Offcanvas Menu -->
  <div class="tj-offcanvas-area d-none d-lg-block">
    <div class="hamburger_bg"></div>
    <div class="hamburger_wrapper">
      <div class="hamburger_inner">
        <div class="hamburger_top d-flex align-items-center justify-content-between">
          <div class="hamburger_logo">
            <a href="index.html" class="mobile_logo">
              <img src="assets/images/logos/techens-logo-2.svg" alt="Logo">
            </a>
          </div>
          <div class="hamburger_close">
            <button class="hamburger_close_btn"><i class="fa-thin fa-times"></i></button>
          </div>
        </div>
        <div class="offcanvas-text">
          <p>Developing personalize our customer journeys to increase satisfaction & loyalty of our expansion
            recognized
            by industry leaders.</p>
        </div>
        <div class="hamburger-infos">
          <h5 class="hamburger-title">Contact Info</h5>
          <div class="contact-info">
            <div class="contact-item">
              <span class="subtitle">Phone</span>
              <a class="contact-link" href="tel:+917510101094">+91 7510 1010 94</a>
            </div>
            <div class="contact-item">
              <span class="subtitle">Email</span>
              <a class="contact-link" href="mailto:info@techensglobal.com">info@techensglobal.com</a>
            </div>
            <div class="contact-item">
              <span class="subtitle">Location</span>
              <span class="contact-link">2nd Floor, #108, 27th Main Road,Sector 2, HSR Layout, Bengaluru-560102 Karnataka, India</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hamburger-socials">
        <h5 class="hamburger-title">Follow Us</h5>
        <div class="social-links style-3">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li><a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Offcanvas Menu -->

  <!-- start: Hamburger Menu -->
  <div class="hamburger-area d-lg-none">
    <div class="hamburger_bg"></div>
    <div class="hamburger_wrapper">
      <div class="hamburger_inner">
        <div class="hamburger_top d-flex align-items-center justify-content-between">
          <div class="hamburger_logo">
            <a href="index.html" class="mobile_logo">
              <img src="assets/images/logos/techens-logo-2.svg" alt="Logo">
            </a>
          </div>
          <div class="hamburger_close">
            <button class="hamburger_close_btn"><i class="fa-thin fa-times"></i></button>
          </div>
        </div>
        <div class="hamburger_menu">
          <div class="mobile_menu"></div>
        </div>
        <div class="hamburger-infos">
          <h5 class="hamburger-title">Contact Info</h5>
          <div class="contact-info">
            <div class="contact-item">
              <span class="subtitle">Phone</span>
              <a class="contact-link" href="tel:+91 7510101094">+91 7510 1010 94</a>
            </div>
            <div class="contact-item">
              <span class="subtitle">Email</span>
              <a class="contact-link" href="mailto:info@techensglobal.com">info@techensglobal.com</a>
            </div>
            <div class="contact-item">
              <span class="subtitle">Location</span>
              <span class="contact-link">2nd Floor, #108, 27th Main Road,Sector 2, HSR Layout, Bengaluru-560102 Karnataka, India</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hamburger-socials">
        <h5 class="hamburger-title">Follow Us</h5>
        <div class="social-links style-3">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li><a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Hamburger Menu -->
   
  <!-- start: Header Area -->
  <header class="header-area header-1 header-absolute">
    <!-- start: Top Header Area -->
        <div class="top-header-container container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="top-header-contact">
            <h3> <i class="tji-envelop"></i>info@techensglobal.com</h3>
            <h3> <i class="tji-phone"></i>+91 7510101094</h3>
          </div>
        </div>

        <div class="col-6">
          <div class="top-header-right-sec">
            <div class="language-selecter">
              <div class="form-input">
                <div class="tj-nice-select-box language-selector">
                  <div class="tj-select">
                    <select name="cfSubject2">
                      <option value="0">English</option>
                      <option value="1">Arabic</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="dark-light-toogle-container">
              <input class="checkbox" type="checkbox" id="toggle" />
              <label class="toggle" for="toggle">
                <ion-icon class="icon icon--light" name="sunny-outline"></ion-icon>
                <ion-icon class="icon icon--dark" name="moon-outline"></ion-icon>
                <span class="ball"></span>
              </label>
            </div>
          </div>
        </div>
    </div>
  </div>
    <!-- end: Top Header Area -->
    <div class="container-fluid" id="myHeader">
      <div class="row">
        <div class="col-12 no-padding">
          <div class="header-wrapper">
            <!-- site logo -->
            <div class="site_logo">
              <a class="logo" href="index.html"><img src="assets/images/logos/techens-logo.svg" alt=""></a>
            </div>
            <!-- header right info -->
            <div class="header-right-item d-none d-lg-inline-flex">
                <!-- navigation -->
                 <!-- navigation -->
                 <div class="menu-area d-none d-lg-inline-flex align-items-center">
                    <nav id="mobile-menu" class="mainmenu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li class="has-dropdown"><a href="service.html">What We Do</a>
                              <ul class="sub-menu header__mega-menu mega-menu mega-menu-pages">
                                <li>
                                  <div class="mega-menu-wrapper">
                                    <div class="mega-menu-pages-single">
                                      <div class="mega-menu-pages-single-inner">
                                        <h6 class="mega-menu-title">DETECT & RESPONSE</h6>
                                        <div class="mega-menu-list">
                                          <a href="service-inner.html">Managed Detection & Response(MDR)</a>
                                          <a href="service-inner.html">Managed Microsoft Sentinel</a>
                                          <a href="service-inner.html">Managed Endpoint Detection and Response (EDR)</a>
                                          <a href="service-inner.html">Digital Forensics & Incident Response</a>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <div class="mega-menu-pages-single">
                                      <div class="mega-menu-pages-single-inner">
                                        <h6 class="mega-menu-title">CYBER RISK ASSESSMENT</h6>
                                        <div class="mega-menu-list">
                                          <a href="service-inner.html">Penetration Testing Service</a>
                                          <a href="service-inner.html">Phishing Simulation as a Service </a>
                                          <a href="service-inner.html">Web Application Security Testing </a>
                                          <a href="service-inner.html">Vulnerability Assessment as a Service</a>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="mega-menu-pages-single">
                                      <div class="mega-menu-pages-single-inner">
                                        <h6 class="mega-menu-title">SECURITY COMPLIANCES</h6>
                                        <div class="mega-menu-list">
                                          <a href="service-inner.html">PCI DSS</a>
                                          <a href="service-inner.html">SAUDI NCA</a>
                                          <a href="service-inner.html">ISO 27001</a>
                                          <a href="service-inner.html">Digital Personal Data Protection</a>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    <div class="mega-menu-pages-single">
                                      <div class="mega-menu-pages-single-inner">
                                        <h6 class="mega-menu-title">CLOUD SECURITY</h6>
                                        <div class="mega-menu-list">
                                          <a href="service-inner.html">AWS Security as a Service</a>
                                          <a href="service-inner.html">Azure Security as a Service</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="mega-menu-pages-single">
                                      <div class="mega-menu-pages-single-inner">
                                        <h6 class="mega-menu-title">MANAGED SERVICE</h6>
                                        <div class="mega-menu-list">
                                          <a href="service-inner.html">Managed Firewall</a>
                                          <a href="service-inner.html">Patch Management as a service</a>
                                          <a href="service-inner.html">Managed Microsoft 365 Service</a>
                                          <a href="service-inner.html">Managed CyberArk</a>
                                          <a href="service-inner.html">Managed CyberSecurity</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </li>
                            <li><a href="industries.html">Industries</a></li>
                             <li class="has-dropdown"><a href="#">Resources</a>
                              <ul class="sub-menu">
                                <li><a href="#">Case Studies</a></li>
                                <li><a href="pressandmedia.html">Press & Media</a></li>
                                <li><a href="career.html">Careers</a></li>
                              </ul>
                            </li>
                            <li><a href="contant-us.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-button">
                    <a class="tj-primary-btn" href="#">
                    <span class="btn-text"><span>Log In</span></span>
                    </a>
                </div>
            </div>
            <!-- menu bar -->
            <div class="menu_bar mobile_menu_bar d-lg-none">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header Area -->


  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main id="primary" class="site-main">

        <div class="space-for-header"></div>
        <!-- start: Breadcrumb Section -->
        <section class="tj-page-header" data-bg-image="assets/images/service/service-breadcrumb-img.jpg">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="tj-page-header-content text-center">
                  <h1 class="tj-page-title">Comprehensive Security Services Designed to Protect Your Business</h1>
                  <div class="tj-page-link">
                    <span><i class="tji-home"></i></span>
                    <span>
                      <a href="index.html">Home</a>
                    </span>
                    <span><i class="tji-arrow-right"></i></span>
                    <span>
                      <span>Service</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-header-overlay" data-bg-image="assets/images/shape/pheader-overlay.jpg"></div>
        </section>
        <!-- end: Breadcrumb Section -->

        <!-- start: Choose Section -->

        <!-- start: Service Section -->



        <section class="tj-service-section service-4 section-gap tj-gallery-section">
            
          <div class="container">

             <!-- Filter Buttons -->
    <div class="gallery-filters text-center mb-5">
      <button class="filter-btn active" data-filter="*">All</button>
      <button class="filter-btn" data-filter=".detectandresponse">Detect & Response</button>
      <button class="filter-btn" data-filter=".cyberriskassessment">Cyber Risk Assessment</button>
      <button class="filter-btn" data-filter=".securitycompliances">Security Compliances</button>
      <button class="filter-btn" data-filter=".managedservice">Managed Service</button>
      <button class="filter-btn" data-filter=".cloudsecurity">Cloud Security</button>
    </div>



            <div class="row row-gap-4 gallery-items">

              <div class="col-lg-4 col-md-6  gallery-item detectandresponse">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                     <img src="assets/images/icons/managed-detection-and-response.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Managed Detection and Response (MDR)</a></h4>
                    <p class="desc">In today’s highly complex and inter-connected technological landscape, security is one of the key pillars of any enterprise.</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item detectandresponse">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                      <img src="assets/images/icons/managed-microsoft.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Managed Microsoft Sentinel</a></h4>
                    <p class="desc">TechensGlobal specialises in Microsoft Sentinel and Defender security tools. Our global SOC delivers round the clock sophisticated...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item detectandresponse">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/managed-endpoint.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Managed Endpoint Detection and Response</a></h4>
                    <p class="desc">Redscan’s Managed Endpoint Detection and Response service significantly enhances the visibility of attacks targeting endpoint...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item detectandresponse">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                     <img src="assets/images/icons/digital-forensics.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Digital Forensic & Incident Response</a></h4>
                    <p class="desc">Our incident response and forensic solutions help you accelerate investigation and maximize the potential use of digital evidence...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6  gallery-item cyberriskassessment">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                     <img src="assets/images/icons/penetration-testing-service.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Penetration Testing Service</a></h4>
                    <p class="desc">Proactive approach to protecting client networks, products, and personnel from malicious attacks, Our expert penetration testers...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6  gallery-item cyberriskassessment">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                     <img src="assets/images/icons/phishing-simulation.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Phishing Simulation as a Service</a></h4>
                    <p class="desc">Phishing is the most prevalent social engineering attack that virtually every organization comes in to contact with.TechensGlobal...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item cyberriskassessment">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/web-application-security.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Web Application Security Testing</a></h4>
                    <p class="desc">Web applications play a vital role in business success and are an attractive target for cybercriminals. TechensGlobal’s ethical...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              
              <div class="col-lg-4 col-md-6  gallery-item cyberriskassessment">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/vulnerability-assessment.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Vulnerability Assessment As a Service</a></h4>
                    <p class="desc">Comprehensive threat and Vulnerability Assessment is essential to securing your organization. Our multidisciplinary approach looks...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item securitycompliances">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/security-standard-compliance.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">PCI DSS-Payment Card Security Standard Compliance</a></h4>
                    <p class="desc">Ensure the security of cardholder data and achieve PCI DSS compliance with our specialized services tailored to your business....</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6  gallery-item securitycompliances">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/saudi-nca-compliance.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Saudi NCA Compliance</a></h4>
                    <p class="desc">Ensure compliance with Saudi Arabia’s National Cybersecurity Authority (NCA) regulations with our specialized NCA Compliance services</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item securitycompliances">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/iso-certification.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">ISO 27001 Certification</a></h4>
                    <p class="desc">Achieve robust information security with our ISO 27001 Certification services, ensuring your business follows best practices and...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              
              <div class="col-lg-4 col-md-6  gallery-item securitycompliances">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/digital-forensics.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Digital Personal Data Protection Bill, 2023</a></h4>
                    <p class="desc">At Techensglobal, we understand the critical importance of data protection in today’s digital age. The introduction of the Digital...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6  gallery-item managedservice">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/managed-firewall.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Managed Firewall</a></h4>
                    <p class="desc">Provide state-of-art managed fiewall solution to protect your organisation’s network and cloud infrastructure</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6  gallery-item managedservice">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/managed-patch-deployment.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Managed Patch Deployment</a></h4>
                    <p class="desc">We shield systems from vulnerabilities by managing the deployment of patches to operating systems, applications, firmware or...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item managedservice">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/microsoft-365.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Managed Microsoft 365 Service</a></h4>
                    <p class="desc">Harness the full power of Microsoft 365 and get the most out of your investment. As a Microsoft Cloud Services Provider, we offer...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item managedservice">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/managed-cyberark.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Managed CyberArk Services</a></h4>
                    <p class="desc">Protect your critical assets with our Managed CyberArk services, ensuring comprehensive security solutions for your organization.</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6 gallery-item managedservice">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/managed-cyber-security.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Managed Cyber Security Services</a></h4>
                    <p class="desc">Stay ahead of cyber threats with our comprehensive Managed Cybersecurity services, safeguarding your digital assets and ensuring...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-4 col-md-6  gallery-item cloudsecurity">
                <div class="service-item style-4">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/aws-security.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">AWS Security as a Service</a></h4>
                    <p class="desc">With our AWS Security as a Service offering, TechensGlobal becomes an extended member of your security team by continuously...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              
              
              <div class="col-lg-4 col-md-6  gallery-item cloudsecurity">
                <div class="service-item style-4 wow fadeInUp" data-wow-delay=".1s">
                  <div class="service-icon">
                    <!-- <i class="tji-service-1"></i> -->
                    <img src="assets/images/icons/azure-security.svg">
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a href="#">Azure Security as a Service</a></h4>
                    <p class="desc">A thorough and detailed review of your Microsoft deployment, providing actionable advice to improve your cyber security...</p>
                    <a class="text-btn" href="service-inner.html">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Service Section -->
        
    </main>

      <!-- start: Footer Section -->
      <footer class="tj-footer-section footer-3 no-border-radius">
        <div class="footer-main-area">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-xl-3 col-md-6">
                <div class="footer-widget footer-col-1 wow fadeInUp" data-wow-delay=".1s">
                  <div class="footer-logo">
                    <a href="index.html">
                      <img src="assets/images/technes-img/footer-logo.svg" alt="Logos">
                    </a>
                  </div>
                  <div class="footer-text">
                    <p>We are a leading provider of cutting-edge cybersecurity services and technologies designed to safeguard.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="footer-widget footer-col-2 widget-nav-menu wow fadeInUp" data-wow-delay=".3s">
                  <h5 class="title">What We Do</h5>
                  <ul>
                    <li><a href="#">Detect & Response</a></li>
                    <li><a href="#">Cyber Risk Assessment</a></li>
                    <li><a href="#">Cloud Security</a></li>
                    <li><a href="#">Managed Service</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="footer-widget footer-col-3 widget-nav-menu wow fadeInUp" data-wow-delay=".5s">
                  <h5 class="title">Quick Links</h5>
                  <div class="row">
                    <div class="col-md-6">
                      <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">What We Do</a></li>
                        <li><a href="#">Industries We Serve</a></li>
                        <li><a href="#">Case Studies</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Press & Media</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact Us</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="footer-widget widget-contact wow fadeInUp" data-wow-delay=".7s">
                  <h5 class="title">Location</h5>
                  <div class="footer-contact-info">
                    <div class="contact-item">
                      <span>2nd Floor, #108, 27th Main Road,Sector 2, HSR Layout, Bengaluru-560102 Karnataka, India</span>
                    </div>
                    <div class="contact-item">
                      <a href="tel:10095447818">P: +91 7510 1010 94</a>
                      <a href="mailto:info@techensglobal.com">M: info@techensglobal.com</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tj-copyright-area-3">
          <div class="container footer-border">
            <div class="row">
              <div class="col-4">
                <div class="copyright-content-area">
                  <div class="copyright-text">
                    <p>&copy; 2025 <a href="#"
                        target="_blank">Techens</a>
                      All right reserved</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                  <div class="social-links social-links-custom style-3">
                    <ul>
                      <li><a href="https://www.facebook.com/" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li><a href="https://www.instagram.com/" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                      </li>
                      <li><a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                      <li><a href="https://www.linkedin.com/" target="_blank"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                      </li>
                    </ul>
                  </div>
              </div>
              <div class="col-4">
                <div class="copyright-content-area footer-copyright-menu">
                  <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-shape-1">
          <img src="assets/images/shape/pattern-2.svg" alt="">
        </div>
        <div class="bg-shape-2">
          <img src="assets/images/shape/pattern-3.svg" alt="">
        </div>
      </footer>
      <!-- end: Footer Section -->
    </div>
  </div>
  <!-- JS here -->







   <!-- <script src="assets/js/jquery.min.js"></script> -->
   <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/gsap.min.js"></script>
  <script src="assets/js/ScrollSmoother.js"></script>
  <script src="assets/js/gsap-scroll-to-plugin.min.js"></script>
  <script src="assets/js/gsap-scroll-trigger.min.js"></script>
  <script src="assets/js/gsap-split-text.min.js"></script>
  <script src="assets/js/jquery.nice-select.min.js"></script>
  <script src="assets/js/jquery-knob.js"></script>
  <script src="assets/js/swiper.min.js"></script>
  <script src="assets/js/odometer.min.js"></script>
  <script src="assets/js/venobox.min.js"></script>
  <script src="assets/js/appear.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/meanmenu.js"></script>
  <script src="assets/js/main.js"></script>

    <!-- Isotope JS -->
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>



  <script>
  $(document).ready(function(){
    // Initialize Isotope
    var $grid = $('.gallery-items').isotope({
      itemSelector: '.gallery-item',
      layoutMode: 'fitRows'
    });

    // Filter items on button click
    $('.filter-btn').on('click', function(){
      var filterValue = $(this).attr('data-filter');
      $grid.isotope({ filter: filterValue });
      $('.filter-btn').removeClass('active');
      $(this).addClass('active');
    });
  });
</script>   
  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  
  <script>
  const body = document.querySelector('body');
  const toggle = document.querySelector('#toggle');
  toggle.addEventListener('change', () => {
    body.classList.toggle('dark');
});
</script>

<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>




</body>

</html>